In [113]:
list1 = [1, 3, 2, 4]
list2 = [3, 5, 8, 2]

In [114]:
import pandas as pd
import numpy as np

In [116]:
s1 = pd.Series(list1)
s1

0    1
1    3
2    2
3    4
dtype: int64

In [121]:
s1[1] + 1

4

In [122]:
s2 = pd.Series([12, 34, 45, 24], index = ['US', 'CN', 'JP', 'SW'])

In [126]:
s2[1:3]+1

CN    35
JP    46
dtype: int64

In [133]:
s1

sb
0    1
1    3
2    2
3    4
dtype: int64

In [142]:
df1.head()

  Pittsburgh Steelers  6  6.1  14
0    Seattle Seahawks  7   24   7
1     New York Giants  8   28   2
2      Miami Dolphins  9   21  19

In [146]:
df1['Stadium'] = ['dskfa', 'sdaf', 'Levis Stadium']

In [147]:
df1

  Pittsburgh Steelers  6  6.1  14        Stadium
0    Seattle Seahawks  7   24   7          dskfa
1     New York Giants  8   28   2           sdaf
2      Miami Dolphins  9   21  19  Levis Stadium

In [148]:
s1

sb
0    1
1    3
2    2
3    4
dtype: int64

In [150]:
s1.sort_values()

sb
0    1
2    2
1    3
3    4
dtype: int64

In [151]:
s1.sort_index()

sb
0    1
1    3
2    2
3    4
dtype: int64

In [157]:
s1.index.name = 'sbs'

In [153]:
s1

sbs
0    1
2    2
1    3
3    4
dtype: int64

AttributeError: 'Series' object has no attribute 'columns'